.results-list {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  &__item {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid var(--grey-light);
    border-radius: 4px;
  }

  &__item:last-of-type {
    border-bottom: none;
    padding: 10px 0 0 0;
    margin-bottom: 0;
  }

  &__item:hover {
    background: var(--grey-light);
  }

  &__image {
    flex: 0.5;
    margin: 16px;
    border-radius: 4px;
  }

  &__resume {
    flex: 2;
    text-align: left;
    margin: auto 0;
    padding-right: 20px;
  }

  &__price {
    margin-bottom: 32px;
    font-size: 24px;
  }

  &__icon-availability {
    margin-left: 16px;
  }

  &__description {
    font-size: 18px;
  }

  &__location {
    flex: 0.5;
    display: flex;
    height: 100%;
    margin-top: 16px;
    font-size: 12px;
    color: var(--stale-ligth);
  }
}
