:root {
  --border-radius: 12px;
  --yellow: #FFE600;
  --stale: #333333;
  --stale-ligth: #666666;
  --grey: #F5F5F5;
  --grey-hard: #999999;
  --grey-light: #EEEEEE;
  --white: #FFFFFF;
  --blue: #3483FA;
  --black: #000;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;

  input {
    border: none;
    outline: none;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--grey);
}
