.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60px;
  background: var(--yellow);
  padding: 0;

  &__logo {
    margin-right: 8px;
  }

  &__search {
    height: 40px;
    width: 70%;
    max-width: 800px;
    background: var(--white);
    border-radius: 5px;
  }

  &__controls {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 5px;
  }

  &__input {
    height: 100%;
    width: calc(100% - 35px);
  }

  &__list-suggested {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -3px;
  }

  &__suggested {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    background: var(--white);
    cursor: pointer;
  }

  &__suggested:hover {
    background: var(--grey-light);
  }

  &__button {
    all: unset
  }
}